.header {
  background-color: #fff !important;
  border-bottom: 1px dashed #d9d9d9;
  .logo {
    height: 64px;
    h1 {
      float: left;
      line-height: 64px;
      font-size: 18px;
      padding-left: 5px;
      font-weight: 600;
    }
  }
  #menu {
    float: left;
    margin: 8px 0 8px 50px;
    border-color: #fff;
  }
  .userInfo {
    float: right;
  }
}

.modal {
  .confirmButton {
    float: right;
  }
}