html {
  font-size: 50px;
}

#mobileHeader {
  flex: 1;
  background-color: #f6f6f6;
  header {
    border-bottom: 1px solid #2db7f5;
    img {
      height: 50px;
    }
    span {
      font-size: 35px;
      vertical-align: center;
      padding-left: 10px;
      color: #2db7f5;
    }
  }
}